{% extends '_base_public.html' %}
{% load static %}
{% block title %}{{video.title}}{% endblock %}
{% block description %}{{video.description|truncatechars:150}}{% endblock %}
{% block content %}
<main class="mx-auto col d-flex w-100 py-3 middle-col justify-content-between">
    <div class="d-flex pt-2 w-100">
        <div class="col p-0 m-0">
            <div id="main-video-player" class="w-100 " style="min-width:500px">
                {% if video.video_renditions_count == 0 %}
                <img class="img-fluid" src="{% static 'images/player/error-video-processing.png' %}"/>
                {% endif %}
            </div>
            <h1 style="font-size:18px" class="mt-3">{{video.title}} {{video.rendition_count}}</h1>
            <div class="text-muted d-flex">
                <div class="video-menu d-inline-flex align-items-center align-middle">
                    <a href="#" title="I like this" class="btn btn-sm text-muted d-flex align-items-center"><i
                            class="small material-icons align-middle">thumb_up_alt</i><span class="ml-2">{{video.likes_count}}</span></a>
                    <a href="#" title="I dislike this" class="btn btn-sm text-muted d-flex align-items-center"><i
                            class="small material-icons align-middle">thumb_down_alt</i><span class="ml-2">{{video.dislikes_count}}</span></a>
                    <a href="#" title="Share" class="btn btn-sm text-muted d-flex align-items-center"><i
                            class="small material-icons align-middle">share</i><span class="ml-2">Share</span></a>
                    <a href="#" title="Post a video response" class="btn btn-sm text-muted align-items-center  d-none d-xl-inline-flex"><i
                            class="small material-icons align-middle">video_call</i><span
                            class="ml-2">Respond</span></a>
                    <a href="#" title="Add to..." class="btn btn-sm text-muted  d-none d-md-inline-flex align-items-center"><i
                            class="small material-icons align-middle">add_circle_outline</i><span class="ml-2">Add
                            to</span></a>
                    <a href="#" title="More" class="btn btn-sm text-muted d-flex align-items-center"><i
                            class="small material-icons align-middle">more_horiz</i></a>
                </div>
                <div class="video-info d-inline-flex ml-auto align-items-center">
                    <span class="d-inline-block">{{video.view_count}} <span class="d-none d-sm-inline">views</span></span>
                    <span class="d-none d-xl-inline mx-1">•</span>
                    <span class="d-none d-xl-inline">{{video.created_date}}</span>
                </div>
            </div>
            <div class="mt-3 d-flex align-items-center text-muted  video-channel-box rounded"
                style="height:100px;background-image: url({{channel.banner_image_small_url}})">
                <div class="video-channel-box-overlay"></div>
                <div class="position-absolute w-100 d-flex p-3">
                    <div>
                        <div class="d-flex flex-row align-items-center">
                            <span><a href="{% url 'view-channel' channel.id %}" class="rounded-circle d-flex justify-content-center avatar-medium">
                                    <img class="d-block rounded-circle align-self-center"
                                        src="{{channel.avatar_image_small_url}}" />
                                </a></span>
                            <span class="ml-2">
                                <a href="{% url 'view-channel' channel.id %}" class="font-weight-bold text-dark">{{channel.name}}</a>
                                <span class="d-block">{{channel.followers_count}} followers</span>
                            </span>
                        </div>
                    </div>
                    <div class="video-menu d-flex align-items-center ml-auto">
                        {% include '_btn_follow.html' %}
                    </div>
                </div>
            </div>

            <div class="p-3">
                <p>{{video.description}}</p>
                <p><a href="#" class="text-muted"><i class="small material-icons align-middle">expand_more</i>Show
                        more</a></p>
            </div>

            <div class="mt-0">
                <h6 class="d-flex align-items-center">Video Responses <a href="#"
                        class="btn btn-sm text-muted ml-auto bg-light">
                        <i class="small material-icons align-middle">video_call</i><span class="ml-2">Respond</span></a>
                </h6>
                <div class="d-flex border-top py-3">
                    {% comment %} {% raw %}
                    <div class="video-grid p-0 m-0 card-group d-inline-flex flex-wrap"
                        data-spreadsheet-api="https://sheet2api.com/v1/CMMyLxNrQj_b/veems-homepage/Sheet1?limit=3">
                        <div class="card mt-1">
                            <a href="#" class="thumbnail">
                                <img class="card-img-top" src="{{video.thumb_url}}">
                                <div class="overlays">{{video.duration}}</div>
                            </a>
                            <div class="card-body pl-0 pt-2 pr-3 pb-3">
                                <h5 class="m-0 text-truncate video-title"><a href="#">{{video.title}}</a>
                                </h5>
                                <div class="metadata">
                                    <div class="w-100">
                                        <div class="card-text text-muted mt-1"><a href="#">{{channel.name}}</a>
                                        </div>
                                    </div>
                                    <div class="w-100">
                                        <div class="card-text text-muted">{{video.views}} views</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endraw %} {% endcomment %}
                </div>
            </div>

            <div class="mt-0">
                <h6>Comments <span class="d-none d-md-inline-block">({{video.comment_count}})</span></h6>
                <div class="row border-md-0 comment-section pb-3">
                    <div class="col border-top py-3">
                        <div id="comment-form-space-t2_4k8s" class="comment-write mb-3 collapsed">
                            <form id="reply-to-t2_4k8s" class="input-group" action="/api/comment" method="post">
                                <input type="hidden" name="formkey" value="56b06e0def4b425dbcb2c432aa08a2c6">
                                <input type="hidden" name="parent_fullname" value="t2_4k8s">
                                <input id="reply-form-submission-t2_4k8s" type="hidden" name="submission" value="4k8s">
                                <textarea id="reply-form-body-t2_4k8s" class="comment-box form-control rounded"
                                    name="body" form="reply-to-t2_4k8s" aria-label="With textarea"
                                    placeholder="Add your comment..." rows="1" spellcheck="false"></textarea>
                                <div class="comment-format">
                                    <a href="#" form="reply-to-t2_4k8s"
                                        class="btn btn-primary text-whitebtn ml-auto">Comment</a>
                                </div>
                            </form>
                        </div>
                        <div class="comment-section">
                            <div id="comment-fsnf" class="comment rounded">
                                <span class="comment-collapse d-md-block d-none"></span>
                                <div class="comment-body">
                                    <div id="comment-fsnf-only">
                                        <div class="user-info"><a href="#" class="user-name">SeekingSignificance2</a>
                                            <span class="time-stamp"> · 2 hours ago</span>
                                        </div>
                                        <div id="comment-text-fsnf" class="comment-text mb-0">
                                            <p>His face when Andrew lifts his shirt up always get's me
                                                lol
                                            </p>
                                        </div>
                                        <div id="comment-fsnf-actions" class="comment-actions">
                                            <ul class="list-inline text-right text-md-left">
                                                <li
                                                    class="list-inline-item arrow-up upvote-button d-none d-md-inline-block mr-2">
                                                    <i class="material-icons align-middle text-muted">thumb_up_alt</i>
                                                </li>
                                                <li class="list-inline-item d-none d-md-inline-block mr-2">
                                                    <span class="points" data-toggle="tooltip" data-placement="top"
                                                        data-original-title="+2 | -0"><span id="comment-score-fsnf"
                                                            class="score comment-score-fsnf ">2</span></span>
                                                </li>
                                                <li
                                                    class="list-inline-item arrow-down downvote-button d-none d-md-inline-block mr-2">
                                                    <i class="material-icons align-middle text-muted">thumb_down_alt</i>
                                                </li>
                                                <li class="list-inline-item text-muted"><a href="#"
                                                        onclick="if (!window.__cfRLUnblockHandlers) return false; document.getElementById('reply-to-fsnf').classList.remove('d-none')"><i
                                                            class="fas fa-reply" aria-hidden="true"></i><span
                                                            class="d-none d-md-inline-block">Reply</span></a>
                                                </li>
                                                <li class="list-inline-item text-muted d-none d-md-inline-block">
                                                    <a href="javascript:void(0);" role="button" class="copy-link"
                                                        data-clipboard-text=""><i
                                                            class="fas fa-copy"></i>Copy link</a>
                                                </li>
                                                <li class="list-inline-item d-none d-md-inline-block">
                                                    <div class="dropdown show">
                                                        <a href="#" role="button" id="dropdownMoreLink"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i
                                                                class="fas fa-ellipsis-h text-small align-middle mr-0"></i>
                                                        </a>
                                                        <div class="dropdown-menu border-0 shadow"
                                                            aria-labelledby="dropdownMoreLink">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-book-open fa-width-rem"></i>Context</a>
                                                            <a class="dropdown-item d-none" href="#"><i
                                                                    class="fas fa-save fa-width-rem"></i>Save</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-flag fa-width-rem"></i>Flag</a>
                                                            <a class="dropdown-item text-danger" href="#"><i
                                                                    class="fas fa-user-slash text-danger fa-width-rem"></i>Block
                                                                user</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item d-inline-block d-md-none">
                                                    <a href="#"><i
                                                            class="small material-icons align-middle">reply</i></a>
                                                </li>
                                                <li class="list-inline-item d-inline-block d-md-none">
                                                    <a href="#"><i
                                                            class="small material-icons align-middle">more_horiz</i></a>
                                                </li>
                                                <li id="comment-fsnf-up" tabindex="0"
                                                    class="list-inline-item d-inline-block d-md-none mr-2 comment-fsnf-up "
                                                    data-id-up="fsnf" data-content-type="comment">
                                                    <i
                                                        class="material-icons small align-middle text-muted">thumb_up_alt</i>
                                                </li>
                                                <li class="list-inline-item d-inline-block d-md-none mr-2">
                                                    <span class="points" data-toggle="tooltip" data-placement="top"
                                                        data-original-title="+2 | -0"><span id="comment-score-fsnf"
                                                            class="score comment-score-fsnf ">2</span></span>
                                                </li>
                                                <li id="comment-fsnf-down" tabindex="0"
                                                    class="list-inline-item arrow-down downvote-button d-inline-block d-md-none mr-2 comment-fsnf-down "
                                                    data-id-down="fsnf" data-content-type="comment"><i
                                                        class="material-icons small align-middle text-muted">thumb_down_alt</i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="reply-to-fsnf" class="d-none">
                                        <div id="comment-form-space-t3_fsnf" class="comment-write collapsed child">
                                            <form id="reply-to-t3_fsnf" action="/api/comment" method="post"
                                                class="input-group" enctype="multipart/form-data">
                                                <input type="hidden" name="formkey"
                                                    value="56b06e0def4b425dbcb2c432aa08a2c6">
                                                <input type="hidden" name="parent_fullname" value="t3_fsnf">
                                                <input id="reply-form-submission-t3_fsnf" type="hidden"
                                                    name="submission" value="4k8s">
                                                <textarea name="body" form="reply-to-t3_fsnf"
                                                    class="comment-box form-control rounded"
                                                    id="reply-form-body-t3_fsnf" aria-label="With textarea"
                                                    placeholder="Add your comment..." rows="3"></textarea>
                                                <div class="comment-format" id="comment-format-bar-fsnf">
                                                    <small class="format pl-0">
                                                        <i class="fas fa-bold" aria-hidden="true"
                                                            onclick="if (!window.__cfRLUnblockHandlers) return false; makeBold('reply-form-body-t3_fsnf')"
                                                            data-toggle="tooltip" data-placement="bottom" title=""
                                                            data-original-title="Bold"></i>
                                                    </small>
                                                    <small class="format"><i class="fas fa-italic" aria-hidden="true"
                                                            onclick="if (!window.__cfRLUnblockHandlers) return false; makeItalics('reply-form-body-t3_fsnf')"
                                                            data-toggle="tooltip" data-placement="bottom" title=""
                                                            data-original-title="Italicize"></i>
                                                    </small>
                                                    <small class="format">
                                                        <i class="fas fa-quote-right" aria-hidden="true"
                                                            onclick="if (!window.__cfRLUnblockHandlers) return false; makeQuote('reply-form-body-t3_fsnf')"
                                                            data-toggle="tooltip" data-placement="bottom" title=""
                                                            data-original-title="Quote"></i>
                                                    </small>
                                                    <label class="btn btn-secondary format d-inline-block m-0"
                                                        for="gif-reply-btn-t3_fsnf">
                                                        <span id="gif-reply-btn-t3_fsnf"
                                                            class="font-weight-bolder text-uppercase"
                                                            onclick="if (!window.__cfRLUnblockHandlers) return false; getGif();commentForm('reply-form-body-t3_fsnf')"
                                                            aria-hidden="true" data-toggle="modal"
                                                            data-target="#gifModal" data-placement="bottom"
                                                            title="Add GIF">GIF</span>
                                                    </label>
                                                    <label class="format btn btn-secondary m-0 ml-1 d-none"
                                                        for="file-upload-reply-t3_fsnf">
                                                        <div id="filename-show-reply-fsnf"><i class="far fa-image"></i>
                                                        </div>
                                                        <input id="file-upload-reply-t3_fsnf" type="file" name="file"
                                                            accept="image/*"
                                                            onchange="if (!window.__cfRLUnblockHandlers) return false; document.getElementById('filename-show-reply-fsnf').innerHTML=document.getElementById('file-upload-reply-t3_fsnf').files[0].name;"
                                                            hidden="">
                                                    </label>
                                                    <a href="#"
                                                        onclick="if (!window.__cfRLUnblockHandlers) return false; document.getElementById('reply-to-fsnf').classList.add('d-none')"
                                                        class="btn btn-link text-muted ml-auto cancel-form">Cancel</a>
                                                    <a class="btn btn-primary text-white ml-2"
                                                        onclick="if (!window.__cfRLUnblockHandlers) return false; post_comment('t3_fsnf');"
                                                        href="#">Comment</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="replies-of-fsnf" class="">


                                        <div id="comment-fsnp" class="comment rounded">
                                            <span class="comment-collapse d-md-block d-none"
                                                onclick="if (!window.__cfRLUnblockHandlers) return false; collapse_comment('fsnp')"></span>
                                            <div class="comment-body">
                                                <div id="comment-fsnp-only" class="">
                                                    <div class="user-info"><a href="#"
                                                            class="user-name text-info">Habitualinestepper</a>
                                                        <i class="fas fa-microphone-stand text-info"
                                                            data-toggle="tooltip" data-placement="bottom" title=""
                                                            data-original-title="Submitter"></i>
                                                        <span class="time-stamp"> · 2 hours ago</span>
                                                    </div>
                                                    <div id="comment-text-fsnp" class="comment-text mb-0">
                                                        <p>I will always laugh at that</p>
                                                    </div>
                                                    <div id="comment-fsnp-actions" class="comment-actions">
                                                        <ul class="list-inline text-right text-md-left">
                                                            <li
                                                                class="list-inline-item arrow-up upvote-button d-none d-md-inline-block mr-2">
                                                                <i
                                                                    class="material-icons align-middle text-muted">thumb_up_alt</i>
                                                            </li>
                                                            <li class="list-inline-item d-none d-md-inline-block mr-2">
                                                                <span class="points" data-toggle="tooltip"
                                                                    data-placement="top"
                                                                    data-original-title="+2 | -0"><span
                                                                        id="comment-score-fsnf"
                                                                        class="score comment-score-fsnf ">1</span></span>
                                                            </li>
                                                            <li
                                                                class="list-inline-item arrow-down downvote-button d-none d-md-inline-block mr-2">
                                                                <i
                                                                    class="material-icons align-middle text-muted">thumb_down_alt</i>
                                                            </li>
                                                            <li class="list-inline-item text-muted"><a href="#"
                                                                    onclick="if (!window.__cfRLUnblockHandlers) return false; document.getElementById('reply-to-fsnp').classList.remove('d-none')"><i
                                                                        class="fas fa-reply"
                                                                        aria-hidden="true"></i><span
                                                                        class="d-none d-md-inline-block">Reply</span></a>
                                                            </li>
                                                            <li
                                                                class="list-inline-item text-muted d-none d-md-inline-block">
                                                                <a href="javascript:void(0);" role="button"
                                                                    class="copy-link"
                                                                    data-clipboard-text=""><i
                                                                        class="fas fa-copy"></i>Copy
                                                                    link</a>
                                                            </li>
                                                            <li class="list-inline-item d-none d-md-inline-block">
                                                                <div class="dropdown show">
                                                                    <a href="#" role="button" id="dropdownMoreLink"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                        <i
                                                                            class="fas fa-ellipsis-h text-small align-middle mr-0"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu border-0 shadow"
                                                                        aria-labelledby="dropdownMoreLink">
                                                                        <a class="dropdown-item"
                                                                            href="#"><i
                                                                                class="fas fa-book-open fa-width-rem"></i>Context</a>
                                                                        <a class="dropdown-item d-none" href="#"><i
                                                                                class="fas fa-save fa-width-rem"></i>Save</a>
                                                                        <a class="dropdown-item" href="#"
                                                                            data-toggle="modal"
                                                                            data-target="#reportCommentModal"
                                                                            onclick="if (!window.__cfRLUnblockHandlers) return false; report_commentModal('fsnp','Habitualinestepper',)"><i
                                                                                class="fas fa-flag fa-width-rem"></i>Flag</a>
                                                                        <a class="dropdown-item text-danger" href="#"
                                                                            onclick="if (!window.__cfRLUnblockHandlers) return false; post_toast('/settings/block?username=Habitualinestepper')"><i
                                                                                class="fas fa-user-slash text-danger fa-width-rem"></i>Block
                                                                            user</a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-inline-item d-inline-block d-md-none">
                                                                <a href="#"><i
                                                                        class="small material-icons align-middle">reply</i></a>
                                                            </li>
                                                            <li class="list-inline-item d-inline-block d-md-none">
                                                                <a href="#"><i
                                                                        class="small material-icons align-middle">more_horiz</i></a>
                                                            </li>
                                                            <li id="comment-fsnp-up" tabindex="0"
                                                                class="list-inline-item arrow-up upvote-button d-inline-block d-md-none mr-2 comment-fsnp-up "
                                                                data-id-up="fsnp" data-content-type="comment">
                                                                <i
                                                                    class="material-icons small align-middle text-muted">thumb_up_alt</i>
                                                            </li>
                                                            <li class="list-inline-item d-inline-block d-md-none mr-2">
                                                                <span class="points" data-toggle="tooltip"
                                                                    data-placement="top"
                                                                    data-original-title="+1 | -0"><span
                                                                        id="comment-score-fsnp"
                                                                        class="score comment-score-fsnp ">1</span></span>
                                                            </li>
                                                            <li id="comment-fsnp-down" tabindex="0"
                                                                class="list-inline-item arrow-down downvote-button d-inline-block d-md-none mr-2 ">
                                                                <i
                                                                    class="material-icons small align-middle text-muted">thumb_down_alt</i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div id="reply-to-fsnp" class="d-none">
                                                    <div id="comment-form-space-t3_fsnp"
                                                        class="comment-write collapsed child">
                                                        <form id="reply-to-t3_fsnp" action="/api/comment" method="post"
                                                            class="input-group" enctype="multipart/form-data">
                                                            <input type="hidden" name="formkey"
                                                                value="56b06e0def4b425dbcb2c432aa08a2c6">
                                                            <input type="hidden" name="parent_fullname" value="t3_fsnp">
                                                            <input id="reply-form-submission-t3_fsnp" type="hidden"
                                                                name="submission" value="4k8s">
                                                            <textarea name="body" form="reply-to-t3_fsnp"
                                                                class="comment-box form-control rounded"
                                                                id="reply-form-body-t3_fsnp" aria-label="With textarea"
                                                                placeholder="Add your comment..." rows="3"></textarea>
                                                            <div class="comment-format" id="comment-format-bar-fsnp">
                                                                <small class="format pl-0">
                                                                    <i class="fas fa-bold" aria-hidden="true"
                                                                        onclick="if (!window.__cfRLUnblockHandlers) return false; makeBold('reply-form-body-t3_fsnp')"
                                                                        data-toggle="tooltip" data-placement="bottom"
                                                                        title="" data-original-title="Bold"></i>
                                                                </small>
                                                                <small class="format"><i class="fas fa-italic"
                                                                        aria-hidden="true"
                                                                        onclick="if (!window.__cfRLUnblockHandlers) return false; makeItalics('reply-form-body-t3_fsnp')"
                                                                        data-toggle="tooltip" data-placement="bottom"
                                                                        title="" data-original-title="Italicize"></i>
                                                                </small>
                                                                <small class="format">
                                                                    <i class="fas fa-quote-right" aria-hidden="true"
                                                                        onclick="if (!window.__cfRLUnblockHandlers) return false; makeQuote('reply-form-body-t3_fsnp')"
                                                                        data-toggle="tooltip" data-placement="bottom"
                                                                        title="" data-original-title="Quote"></i>
                                                                </small>
                                                                <label
                                                                    class="btn btn-secondary format d-inline-block m-0"
                                                                    for="gif-reply-btn-t3_fsnp">
                                                                    <span id="gif-reply-btn-t3_fsnp"
                                                                        class="font-weight-bolder text-uppercase"
                                                                        onclick="if (!window.__cfRLUnblockHandlers) return false; getGif();commentForm('reply-form-body-t3_fsnp')"
                                                                        aria-hidden="true" data-toggle="modal"
                                                                        data-target="#gifModal" data-placement="bottom"
                                                                        title="Add GIF">GIF</span>
                                                                </label>
                                                                <label class="format btn btn-secondary m-0 ml-1 d-none"
                                                                    for="file-upload-reply-t3_fsnp">
                                                                    <div id="filename-show-reply-fsnp">
                                                                        <i class="far fa-image"></i>
                                                                    </div>
                                                                    <input id="file-upload-reply-t3_fsnp" type="file"
                                                                        name="file" accept="image/*"
                                                                        onchange="if (!window.__cfRLUnblockHandlers) return false; document.getElementById('filename-show-reply-fsnp').innerHTML=document.getElementById('file-upload-reply-t3_fsnp').files[0].name;"
                                                                        hidden="">
                                                                </label>
                                                                <a href="#"
                                                                    onclick="if (!window.__cfRLUnblockHandlers) return false; document.getElementById('reply-to-fsnp').classList.add('d-none')"
                                                                    class="btn btn-link text-muted ml-auto cancel-form">Cancel</a>
                                                                <a class="btn btn-primary text-white ml-2"
                                                                    onclick="if (!window.__cfRLUnblockHandlers) return false; post_comment('t3_fsnp');"
                                                                    href="#">Comment</a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div id="replies-of-fsnp" class="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="comment-fsl8" class="comment rounded">
                                <span class="comment-collapse d-md-block d-none"
                                    onclick="if (!window.__cfRLUnblockHandlers) return false; collapse_comment('fsl8')"></span>
                                <div class="comment-body">
                                    <div id="comment-fsl8-only" class="">
                                        <div class="user-info"><a href="#"
                                                class="user-name text-info">Habitualinestepper</a>
                                            <i class="fas fa-microphone-stand text-info" data-toggle="tooltip"
                                                data-placement="bottom" title="" data-original-title="Submitter"></i>
                                            <span class="time-stamp"> · 2 hours ago</span>
                                        </div>
                                        <div id="comment-text-fsl8" class="comment-text mb-0">
                                            <p>Dave told me</p>
                                        </div>
                                        <div id="comment-fsl8-actions" class="comment-actions">
                                            <ul class="list-inline text-right text-md-left">
                                                <li
                                                    class="list-inline-item arrow-up upvote-button d-none d-md-inline-block mr-2">
                                                    <i class="material-icons align-middle text-muted">thumb_up_alt</i>
                                                </li>
                                                <li class="list-inline-item d-none d-md-inline-block mr-2">
                                                    <span class="points" data-toggle="tooltip" data-placement="top"
                                                        data-original-title="+2 | -0"><span id="comment-score-fsnf"
                                                            class="score comment-score-fsnf ">2</span></span>
                                                </li>
                                                <li
                                                    class="list-inline-item arrow-down downvote-button d-none d-md-inline-block mr-2">
                                                    <i class="material-icons align-middle text-muted">thumb_down_alt</i>
                                                </li>
                                                <li class="list-inline-item text-muted"><a href="#"
                                                        onclick="if (!window.__cfRLUnblockHandlers) return false; document.getElementById('reply-to-fsl8').classList.remove('d-none')"><i
                                                            class="fas fa-reply" aria-hidden="true"></i><span
                                                            class="d-none d-md-inline-block">Reply</span></a>
                                                </li>
                                                <li class="list-inline-item text-muted d-none d-md-inline-block">
                                                    <a href="javascript:void(0);" role="button" class="copy-link"
                                                        data-clipboard-text=""><i
                                                            class="fas fa-copy"></i>Copy link</a>
                                                </li>
                                                <li class="list-inline-item d-none d-md-inline-block">
                                                    <div class="dropdown show">
                                                        <a href="#" role="button" id="dropdownMoreLink"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i
                                                                class="fas fa-ellipsis-h text-small align-middle mr-0"></i>
                                                        </a>
                                                        <div class="dropdown-menu border-0 shadow"
                                                            aria-labelledby="dropdownMoreLink">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-book-open fa-width-rem"></i>Context</a>
                                                            <a class="dropdown-item d-none" href="#"><i
                                                                    class="fas fa-save fa-width-rem"></i>Save</a>
                                                            <a class="dropdown-item" href="#"
                                                                class="fas fa-flag fa-width-rem"></i>Flag</a>
                                                            <a class="dropdown-item text-danger" href="#"
                                                                class="fas fa-user-slash text-danger fa-width-rem"></i>Block
                                                                user</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item d-inline-block d-md-none">
                                                    <a href="#"><i
                                                            class="small material-icons align-middle">reply</i></a>
                                                </li>
                                                <li class="list-inline-item d-inline-block d-md-none">
                                                    <a href="#"><i
                                                            class="small material-icons align-middle">more_horiz</i></a>
                                                </li>
                                                <li id="comment-fsl8-up" tabindex="0"
                                                    class="list-inline-item arrow-up upvote-button d-inline-block d-md-none mr-2 comment-fsl8-up "
                                                    data-id-up="fsl8" data-content-type="comment"><i
                                                        class="material-icons small align-middle text-muted">thumb_up_alt</i>
                                                </li>
                                                <li class="list-inline-item d-inline-block d-md-none mr-2">
                                                    <span class="points" data-toggle="tooltip" data-placement="top"
                                                        data-original-title="+1 | -0"><span id="comment-score-fsl8"
                                                            class="score comment-score-fsl8 ">1</span></span>
                                                </li>
                                                <li id="comment-fsl8-down" tabindex="0"
                                                    class="list-inline-item arrow-down downvote-button d-inline-block d-md-none mr-2 comment-fsl8-down "
                                                    data-id-down="fsl8" data-content-type="comment">
                                                    <i
                                                        class="material-icons small align-middle text-muted">thumb_down_alt</i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="reply-to-fsl8" class="d-none">
                                        <div id="comment-form-space-t3_fsl8" class="comment-write collapsed child">
                                            <form id="reply-to-t3_fsl8" action="/api/comment" method="post"
                                                class="input-group" enctype="multipart/form-data">
                                                <input type="hidden" name="formkey"
                                                    value="56b06e0def4b425dbcb2c432aa08a2c6">
                                                <input type="hidden" name="parent_fullname" value="t3_fsl8">
                                                <input id="reply-form-submission-t3_fsl8" type="hidden"
                                                    name="submission" value="4k8s">
                                                <textarea name="body" form="reply-to-t3_fsl8"
                                                    class="comment-box form-control rounded"
                                                    id="reply-form-body-t3_fsl8" aria-label="With textarea"
                                                    placeholder="Add your comment..." rows="3"></textarea>
                                                <div class="comment-format" id="comment-format-bar-fsl8">
                                                    <small class="format pl-0">
                                                        <i class="fas fa-bold" aria-hidden="true"
                                                            onclick="if (!window.__cfRLUnblockHandlers) return false; makeBold('reply-form-body-t3_fsl8')"
                                                            data-toggle="tooltip" data-placement="bottom" title=""
                                                            data-original-title="Bold"></i>
                                                    </small>
                                                    <small class="format"><i class="fas fa-italic"></i>
                                                    </small>
                                                    <small class="format">
                                                        <i class="fas fa-quote-right"></i>
                                                    </small>
                                                    <label class="btn btn-secondary format d-inline-block m-0"
                                                        for="gif-reply-btn-t3_fsl8">
                                                        <span id="gif-reply-btn-t3_fsl8"
                                                            class="font-weight-bolder text-uppercase">GIF</span>
                                                    </label>
                                                    <label class="format btn btn-secondary m-0 ml-1 d-none"
                                                        for="file-upload-reply-t3_fsl8">
                                                        <div id="filename-show-reply-fsl8"><i class="far fa-image"></i>
                                                        </div>
                                                        <input id="file-upload-reply-t3_fsl8" type="file" name="file"
                                                            accept="image/*" hidden="">
                                                    </label>
                                                    <a href="#"
                                                        class="btn btn-link text-muted ml-auto cancel-form">Cancel</a>
                                                    <a class="btn btn-primary text-white ml-2" href="#">Comment</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="replies-of-fsl8" class="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col right-col px-0 mt-2">
        <div class="title-band px-0 mx-3 mb-3 w-100 border-bottom">
            <h6 class="d-flex align-items-center">Up Next</h6>
            {% comment %} {% raw %}
            <div class="video-grid-side m-0 d-block border-top py-3"
                data-spreadsheet-api="https://sheet2api.com/v1/CMMyLxNrQj_b/veems-homepage/Sheet1?limit=1">
                <div class="d-flex">
                    <a href="#" class="thumbnail d-inline-block mr-2">
                        <img class="card-img-top" src="{{video.thumb_url}}">
                        <div class="overlays">{{video.duration}}</div>
                    </a>
                    <div class="metadata-container">
                        <h5 class="m-0 mb-1"><a href="#">{{video.title}}</a></h5>
                        <div class="metadata">
                            <div class="card-text text-muted text-truncate"><a href="#">{{channel.name}}</a>
                            </div>
                            <div class="card-text text-muted">{{video.views}} views</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endraw %}

            {% raw %}
            <div class="video-grid-side m-0 d-block border-top py-3"
                data-spreadsheet-api="https://sheet2api.com/v1/CMMyLxNrQj_b/veems-homepage/Sheet1?limit=10">
                <div class="d-flex mb-2">
                    <a href="#" class="thumbnail d-inline-block mr-2">
                        <img class="card-img-top" src="{{video.thumb_url}}">
                        <div class="overlays">{{video.duration}}</div>
                    </a>
                    <div class="metadata-container">
                        <h5 class="m-0 mb-1"><a href="#">{{video.title}}</a></h5>
                        <div class="metadata">
                            <div class="card-text text-muted text-truncate"><a href="#">{{channel.name}}</a>
                            </div>
                            <div class="card-text text-muted">{{video.views}} views</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endraw %} {% endcomment %}
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
    <script>
        {% if video.video_renditions_count > 0 %}
        const playerInstance = jwplayer('main-video-player').setup({
            file: '{{video.playlist_file|safe}}',
            autostart: true,
            displaytitle: false,
            responsive: true,
            stretching: "uniform",
            playbackRateControls: [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2],
            aspectratio: "16:9",
            skin: {
                name: 'alaska',
                url: "{% static 'css/player.css' %}"
            }
            {% comment %} Add logo only on embedded player {% endcomment %}
            {% comment %} logo: {
                file: "{% static 'images/logo.png' %}"
            }, {% endcomment %}
        });
        {% endif %}
    </script>
{% endblock %}
