{% extends 'base_public.html' %}

{% load crispy_forms_tags %}

{% block title %}Password reset confirmation {% endblock %}

{% block content %}

<div class="container d-flex w-100 h-100 pt-3 pb-3 mx-auto flex-column">
    <div class="col-12 shadow-sm bg-white border rounded p-4">
        <h2>Enter new password</h2>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Change my password</button>
        </form>
    </div>
</div>
{% endblock %}
