{% extends '_page_with_static_modal.html' %}

{% load crispy_forms_tags %}

{% block description %}Password Change{% endblock %}
{% block title %}Password Change{% endblock %}

{% block modal_title %}
Password Change
{% endblock %}

{% block modal_content %}

<div class=" w-100">
  <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
    typed it in correctly.</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
