{% extends 'base_public.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="container d-flex w-100 h-100 pt-3 pb-3 mx-auto flex-column">
        <div class="col-12 shadow-sm bg-white border rounded p-4">
<h2>Set Your Password</h2>

<p class="alert alert-info">To get started managing your account, first set your password below.</p>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Set my password</button>
    </form>
    </div></div>
{% endblock %}
