{% load static %}
<div>

    {% if errors %}
    {% for field, error_messages in errors.items %}
    {% for error in error_messages %}
    <p class="alert alert-danger"><b>{{field|title}}</b>, {{error}}</p>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <h2 class="h5">Basic info</h2>

    {% if channel_basic_info_saved %}
    <p class="alert alert-success">Channel details were successfully updated.</p>
    {% endif %}
    <div class="border mt-3 rounded">
        <div class="row">
            <div class="col">
                <form method="post" action="{% url 'channel-manager-customization' %}">
                    {% csrf_token %}
                    <div class="p-3">
                        <div class="form-group">
                            <label for="name">Channel Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{channel.name}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Channel Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"
                                placeholder="Tell viewers about your channel. Your description will appear in the About section of your channel and search results, among other places.">{{channel.description}}</textarea>
                        </div>
                    </div>
                    <div class="footer bg-secondary p-3">
                        <div class="d-flex">
                            <input class="btn btn-primary ml-auto" type="submit" value="Save Changes">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h2 class="h5 mt-4">Avatar image</h2>
{% if channel_avatar_image_saved %}
<p class="alert alert-success">Channel avatar image has been updated.</p>
{% endif %}
<p class="text-muted">Your avatar picture will appear where your channel is presented
    on
    Veems, like next to
    your videos and comments. Changes that you make here will be reflected across other
    Google
    services.</p>

<div class="border mt-3 p-3 rounded">
    <div class="row">
        <div class="col-12 col-md-3">
            <div
                class="bg-secondary avatar-large p-3 d-flex align-self-center align-items-center justify-content-center">
                {% if channel.avatar_image %}
                <img src="{{channel.avatar_image_large_url}}" class="rounded-circle" />
                {% else %}
                <i class="material-icons align-middle" style="font-size:900%">face</i>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-9">
            <p class="text-muted mt-2">It's recommended that you use a picture that's at least 98
                x
                98 pixels and 4 MB
                or
                less. Use a PNG or GIF (no animations) file. Make sure that your picture is
                SFW.
            </p>
            <form method="post" action="{% url 'channel-manager-customization' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="d-flex align-items-center">
                    <input type="file" id="avatar_image" name="avatar_image">
                    <button type="submit" class="btn btn-outline-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h2 class="h5 mt-4">Banner image</h2>
{% if channel_banner_image_saved %}
<p class="alert alert-success">Channel banner image has been updated.</p>
{% endif %}
<p class="text-muted">This image will appear across the top of your channel.</p>

<div class="border mt-3 p-3 rounded">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="bg-secondary p-3 d-flex align-self-center align-items-center justify-content-center"
                style="min-height:140px">
                    {% if channel.banner_image %}
                    <img class="border img-fluid banner-pic-135" src="{{channel.banner_image_small_url}}" />
                    {% else %}
                    <img class="border img-fluid banner-pic-135"
                        src="{% static 'images/defaults/channel-banner-image.png' %}" />
                    {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <p class="text-muted mt-2">For the best results on all devices, use an image that's
                at
                least 2048 x 1152
                pixels
                and 6 MB or less.</p>
            <form method="post" action="{% url 'channel-manager-customization' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex align-items-center">
                    <input type="file" id="banner_image" name="banner_image">
                    <button type="submit" class="btn btn-outline-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
