{% extends "./_base_channel_manager.html" %}
{% load static %}
{% block title %}Channel Monetization{% endblock %}
{% block content %}
<div class="col col-lg-8">


    <div class="border rounded p-3">
        <div class="row no-gutters my-md-3">
            <div class="col text-center text-muted">
                <p><i class="material-icons align-middle text-muted"
                        style="font-size:1000%; opacity: 0.3">monetization_on</i></p>

                <h2 class="h3">Coming soon!</h2>

                <p class="text-muted">We're working hard to get this section of the site live.<br/>Your interest has been registered by viewing this page, please check back soon.</p>

            </div>
        </div>
    </div>

</div>
{% endblock %}

