{% extends "./_base_channel_manager.html" %}
{% load static %}
{% block content %}
<div class="col col-xl-8">
    <div class="d-block d-lg-none">
        <p class="alert alert-secondary">Channel link<br /><a href="#">{{settings.SITE_BASE_URL}}/c/UCASvHD</a>
        </p>
    </div>
    <div>
        <div class="border rounded p-3">
            <div class="row no-gutters my-md-3">
                <div class="col text-center text-muted">
                    <p><i class="material-icons align-middle text-muted"
                            style="font-size:1000%; opacity: 0.3">add_a_photo</i></p>

                    <h2 class="h3">Let's get started, upload a video</h2>

                    <p class="text-muted">Want to see metrics on your recent video?
                        Upload and publish a video to get started. </p>
                    <div class="text-center px-3 my-3">
                        <div>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal"><i
                                    class="material-icons align-middle">backup</i>
                                Upload Video</a>
                            <a href="{% url 'channel-manager-sync' %}" class="btn btn-secondary"><i
                                    class="material-icons align-middle">sync</i>
                                Sync YouTube Videos</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="col d3-none col-xl-4 d-lg-block">
    {% include './_index_right_col_content.html' %}
</div>
{% endblock %}
