{% extends "./_base_channel_manager.html" %}
{% load static %}
{% block title %}Channel Overview{% endblock %}
{% block content %}
<div id="channel-container" class="row">
        <div class="col d-block d-lg-none">
            <p class="alert alert-secondary">Channel link<br /><a href="#">https://veems.com/c/UCASvHD</a></p>
        </div>

        <div class="col-12 col-lg-4 mb-3">
            <div class="border rounded p-3">
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <h2 class="h5">Last 7 days</h2>
                        </div>
                        <canvas id="weeklyViewsChart" width="100%" height="100%" style="max-height:400px"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">

            <div class="border rounded p-3">
                <div class="row">
                    <div class="col">
                        <div>
                            <h2 class="h5">Channel Analytics</h2>
                            <p>Current subscribers</p>
                            <p class="h3">43,404</p>
                        </div>
                        <hr />
                        <div>
                            <h3 class="h6">Summary</h3>
                            <p class="text-muted">Last 28 days</p>

                            <div class="metrics-table">
                                <div class="d-flex flex-row">
                                    <div class="text-muted">Views</div>
                                    <div class="ml-auto">42,304</div>
                                </div>
                                <div class="d-flex flex-row">
                                    <div class="text-muted">Watch time (hours)</div>
                                    <div class="ml-auto">433</div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <h3 class="h6">Top videos</h3>
                            <p class="text-muted">Last 7 days (views)</p>

                            <div class="metrics-table">
                                {% for video in top_videos %}
                                <div class="d-flex flex-row">
                                    <div class="text-truncate"><a href="#">{{video.video_title}}</a></div>
                                    <div class="ml-auto">{{video.views}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            {% include './_index_right_col_content.html' %}
        </div>
</div>
{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<script>
    var ctx = document.getElementById('weeklyViewsChart').getContext('2d');

    var weeklyViewsChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Mon", "Tues", "Weds", "Thurs", "Fri", "Sat", "Sun"],
            datasets: [{
                label: 'Total Channel Views', // Name the series
                data: [14040, 14141, 4111, 4544, 47, 5555, 6811], // Specify the data values array
                fill: true,
                borderColor: '#2196f3', // Add custom color border (Line)
                backgroundColor: 'rgb(33,150,243, 0.15)', // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
        }
    });
</script>

{% endblock %}
