{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}Default description.{% endblock %}">
    <meta name="title" content="Veems">
    <meta name="author" content="">
    <title>{% block title %}Your world in video{% endblock %} | Veems</title>
    <link href="{% static 'css/bootstrap-custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/comments.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/google-fonts-material-icons.css' %}" rel="stylesheet">

    <script src="http://content.jwplatform.com/libraries/oH2wJDod.js"></script>

    <!-- TODO: Don't rely on these JS libraries, use ReactJS instead -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet"/>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
</head>


{% block body %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% include "./_modals/_modal_create_channel.html" %}
{% include "./_modals/_modal_create_sync.html" %}
{% include "./_modals/_modal_login.html" %}
{% include "./_modals/_modal_upload.html" %}
{% include "./_modals/_modal_video_detail.html" %}
{% include "./_modals/_modal_video_response.html" %}

</html>
