{% extends '_page_with_static_modal.html' %}

{% block description %}Thanks For Signing Up!{% endblock %}
{% block title %}Thanks For Signing Up!{% endblock %}

{% block modal_title %}
Thanks For Signing Up!
{% endblock %}

{% block modal_content %}
<p class="alert alert-success mb-0">Please check your email and click <b>Activate Account</b> in the message we just
    sent to you.
    <br />
    <br />
    Once your account is activated, we'll send you an email with some information to help you get started with Veems.
</p>
{% endblock %}
