<div class="modal fade" id="createSyncModal" tabindex="-1" role="dialog" aria-labelledby="createSyncModalLabel"
    aria-hidden="true">
    <div class="modal-dialog model-dialog-medium modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSyncModalLabel">Sync your YouTube Channel to Veems</h5>
            </div>


            <!-- <div class="modal-body d-inline-flex align-items-center justify-content-center text-center">
                <div>
                    <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-success"
                            style="font-size:1000%; opacity: 0.3">sync</i>
                    </div>
                    <h3>Channel Sync Started!</h3>
                    <p class="text-muted">This process may take a few days, depending on your channel size.<br />We'll send you an email when this has been completed.</p>
                </div>
            </div>

            <div class="modal-footer bg-secondary">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div> -->

            <div class="modal-body d-inline-flex align-items-center justify-content-center">

                <form class="w-100">
                    <div class="dp-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Your Veems Channel Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Veems Channel Name">
                            <div class="mt-1 mx-2 text-muted" style="font-size: 0.9em">This will be the public display
                                name for your channel.</div>
                            <div class="mt-1 mx-2 text-muted" style="font-size: 0.9em">Channel names cannot be changed
                                once chosen, please be extra careful.</div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput2">Your YouTube Channel Link</label>
                            <input type="text" class="form-control" id="exampleFormControlInput2"
                                placeholder="https://www.youtube.com/channel/...">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck11">
                                <label class="custom-control-label" for="customCheck11">I have permission to
                                    re-distribute content from this YouTube Channel.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck12">
                                <label class="custom-control-label" for="customCheck12">I want to sync my YouTube
                                    content to Veems and agree to <a href="#">these terms</a>.
                                    I have also read and understand <a href="#">how the program works</a>.</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer bg-secondary">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <a href="/channel" class="btn btn-primary">Create Channel Sync</a>
            </div>
        </div>
    </div>
</div>
