<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog model-dialog-narrow modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Create your Veems Account</h5>
            </div>
            <div class="modal-body p-0">
                <div class="p-3 w-100 d-inline-flex flex-column align-items-center justify-content-center">
                    <!-- <p>If you have a Veems account, please enter your credentials.</p> -->
                    <form class="w-100">
                        <div class="dp-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your email address">
                                <div class="mt-1 mx-2 text-muted" style="font-size: 0.9em">You'll need to confirm that
                                    this email belongs to you.</div>
                            </div>
                            <div class="form-group row">
                                <div class="col pr-0">
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" placeholder="Confirm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox d-flex align-items-center">
                                  <input type="checkbox" class="custom-control-input">
                                  <span class="custom-control-label">Bring over my YouTube channel videos</span>
                                  <i class="material-icons align-self-center ml-1" style="font-size:1.3em" data-toggle="tooltip" data-placement="top" title="Check this if you're interested in syncing all of your YouTube channel(s) videos over to Veems, for free!">help</i>
                                </label>
                              </div>
                            <p class="text-muted mt-1 mx-2 text-muted">By creating an account, you agree to our <a
                                    href="#">Terms & Conditions</a> and <a href="#">Community Guidelines</a>.</p>
                            <div class="form-group d-flex flex-row align-items-center justify-content-center">
                                <a href="/channel" class="btn btn-primary">Create Account</a>
                                <a href="/channel" class="ml-3 text-muted btn">Sign in instead</a>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- <div class="w-100 py-4 border-top px-3 bg-secondary d-flex flex-column align-items-center justify-content-center">
                    <div class="h4 mb-3">Don't have a Veems account yet?</div>
                    <a href="/channel" class="btn btn-primary">Create your Veems account now</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
